.profile-person-btn {
    position: fixed;
    width: 100%;
    background-color: var(--btn-color);
    height: 46px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px ;
}
.profile-person-btn i {
    margin-left: 6px;
}
.profile-person-btn:hover {
    color: var(--btn-hover);
}
.profile-person-content {
    margin-top: 46px;
}