.square {
  position: relative;
  background-image: url(./imgs/backgrounds/1.png);
  
}
.square__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-in-backgrd);
}
.square__header-text h2 {
  font-weight: 800;
  font-size: 3.5rem;
}
.square__header-text p {
  font-size: 2rem;
}
.square__header-next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  background-color: var(--btn-color);
  border-radius: 50%;
  font-size: 2rem;
}
.square__header i {
  border-radius: 50%;
  color: var(--main-color);
}

/* square info */

.square__info {
  flex-shrink: 0;
  background-color: var(--main-color);
  margin-top: 40px;
  padding: 20px;
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  margin-left: 6px;
}
.square__info-img {
  margin-top: 40px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.square__info-img img {
  position: relative;
  bottom: 20px;
}
.square__info-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.square__info-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.square__info-name > * {
  margin-top: 5px;
}
.square__info-name h2 {
  text-transform: capitalize;
}
.square__info-tag {
  display: flex;
}
.square__info-tag span {
  margin: 8px;
  color: #fff;
  padding: 4px 20px;
  border-radius: 50px;
}
.square__info-tag span:nth-child(1) {
  background-color: #8997db;
}
.square__info-tag span:nth-child(2) {
  background-color: #f9ab9b;
}
.square__info-tag span:nth-child(3) {
  background-color: #feca63;
}

/* add friend btn */

.square__info-friend {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.square__info-friend button {
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--btn-color);
  color: var(--text-in-btn);
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
}

.square__info-friend button:hover,
.square__header-next-btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}
.square__info-container {
  display: flex;
  width: auto;
}
.square--left,
.square--right {
  position: absolute;
  font-size: 1.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  background-color: var(--btn-color);
  top: 50%;
  transform: translateY(-50%);
}
.square--left {
  left: 0;
}
.square--right {
  right: 0;
}
