:root {
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  min-height: 41px;
  color: #fff;
  background-color: green;
  border-radius: 8px;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* playlist */
.play-control {
  display: flex;
  justify-content: center;
  font-size: 28px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(241, 179, 189, 0.877);
  min-height: 100px;
}
.play-control-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.play--icon,
.pause--icon {
  color: palevioletred;
  cursor: pointer;
  margin: 0 20px;
  transition: 0.5s all;
}
.pause--icon {
  display: none;
}

.play--icon:hover,
.pause--icon:hover {
  filter: contrast(3);
}

.control-img {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.control-img > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* playlist */

.play-lists {
  color: #fff;
}
.slider {
  width: 100%;
  margin-bottom: 10px;
}
input[type="range"]::-moz-range-progress {
  background-color: rgba(175, 62, 81, 0.877);
  color: rgba(175, 62, 81, 0.877);
}

.play-controls {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 179, 189, 0.877);
  padding: 16px;
  border-radius: 8px;
}
.play-info {
  font-weight: bold;
  font-size: 28px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(./imgs/image.jpg);
  background-size: cover;
  object-fit: fill;
}
.play-controls-btn {
  display: flex;
}
.play-controls-btn > * {
  cursor: pointer;
  margin: 0 40px;
  transition: 0.5s;
  font-size: 40px;
}
.play-controls-btn > *:hover {
  color: rgb(230, 119, 119);
  transform: scale(120%);
}
.play-info > span {
  text-transform: capitalize;
}
.play--pause {
  display: none;
}
.play-list-song {
  margin: 6px 0;
  background-color: rgba(241, 179, 189, 0.877);
  padding: 10px;
  border-radius: 8px;
}
.song {
  display: flex;
  margin: 10px;
  background-color: rgba(243, 139, 139, 0.507);
  padding: 10px;
  border-radius: 8px;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}
.song:hover {
  background-color: rgba(71, 198, 240, 0.486);
  transform: scale(98%);
}

.active--song {
  background-color: rgb(71, 197, 240);
  transform: scale(105%);
}
.song-avt {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  object-fit: fill;
}
.song-info {
  padding-left: 20px;
  width: 70%;
}
.song-info > h1 {
  font-size: 24px;
  text-align: center;
}
