.content__about-container{
    background-color: #F5F9F6;
    padding-bottom: 100px;
}

.content__about{
    background-image: url(../img/About/aboutBgr.JPG);
    background-attachment: fixed;
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 550px;
    
}

.content__about::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
}



.about__text{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    z-index: 2;
}
.about__text-first{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 2px;
}
.about__text-heading{
    font-size: 5rem;
}
.about__text-button{

}
.about__Info{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
}
.about__Info-form{
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 300px;
    position: relative
    ;
    top: 54px;
    z-index: 2;
}
.about__Info-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.about__Info-form-content{
    color: var(--main-content-text-color);
}

.about--logo {
    font-size: 8rem;
    padding: 0 10px;
}


.about--facebook{
    color: #1199F5;
}

.about--instagram{
    color: #D6526D;
}

.about--messenger {
    color: #7E48FF;
}
