
.character{
    background-image: url(../img/character/background.jpg);
    background-size: cover;
    
    position: relative;
    min-height: 1000px;
}

.character .text-char{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 46px ;
    text-shadow: 4px 6px 7px black;
    
}


.character .img-char{
    color: #fff;
    position: absolute;
    margin-top: 46px;
    text-align:center;
    left: 50%;
    margin-left: calc(-768px / 2);
    line-height: 27px;
    font-weight: 500;
    padding-bottom: 0px;
}

.character .img-char img{
    width: 250px;
    padding:0 14px;border-radius: 10px;
}

.character .img-char .img-marco, .img-star, .img-monster{
    width: 100%;
}

.character .img-char .marco, .star, .monster{
    float: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 6px 20px black;
    padding: 5px 5px;
    margin: 0 5px;
    
}

.character .img-char .info{
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    text-align: justify;
}

.character .info .name-marco, .name-star, .name-monster{
    font-size: 30px;
    font-weight: 500;
    
}
.character .img-char .marco:hover, .star:hover, .monster:hover{
    transition: 2s;
    transform: scale(120%);
    cursor: pointer;
}
