.content__class-container{
    height: 548px;
}
.content__class{
    padding: 70px 70px;
    background-color: var(--main-content-color);
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.content__class-info{
    flex: 1;
}
.content__class-heading{
    color: var(--main-content-text-color);
    font-size: 4rem;
    font-weight: bold;

}
.content__class-sub{
    line-height: 26px;
}
.content__class-button{

}
.content__class-img{
    flex: 1;
    text-align: center;
}
.content__class-main-img{
    width: 540px;
}
