#content {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#content .background-text:hover {
    transform: scale(110%);
    transition: 2s;
}

/* Css text */
#content .background-text{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1bd32a06-ed15-4bce-b206-ad5413bfe199/dbhytyx-0809545b-474b-4c04-a0da-f4b841ce59de.png/v1/fill/w_1024,h_567,q_80,strp/background_svtfoe_by_franci_bases_dbhytyx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTY3IiwicGF0aCI6IlwvZlwvMWJkMzJhMDYtZWQxNS00YmNlLWIyMDYtYWQ1NDEzYmZlMTk5XC9kYmh5dHl4LTA4MDk1NDViLTQ3NGItNGMwNC1hMGRhLWY0Yjg0MWNlNTlkZS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.n3Upm1Utfn7pNdM6nTr6CyJfj8C8qg9XIqaUigVZ-kI);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
}

#content .content-text {
    color: #fff;
    position: absolute;
    margin-top: 46px;
    text-align:center;
    width: 768px;
    left: 50%;
    margin-left: calc(-768px / 2);
    line-height: 27px;
    font-weight: 500;
    padding-bottom: 0px;

}

#content .title {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
}

#content .sub-title {
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.6;
    
}

#content .main-title{
    text-align: justify;
    font-size: 15px;
    line-height: 21px;
}

/* CSS image */
#content .main-img {
   padding-top: 47px;
}

#content .img1, .img2, .img3{
    float: left;
    
}

#content .img2 {
    padding: 0 14px;
}

#content > .background-text img{
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 6px 20px black;
}

#content > .background-text img:hover {
    transition: 2s;
    transform: scale(120%);
    cursor: pointer;
}

