.footer{
    background-color: var(--footer-color);
    height: 270px;
    position: relative;
}
.footer__main{
    padding: 0 100px;
}
.footer::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    height: 1px;
    width: 90%;
    background-color: #fff;
    transform: translateX(-50%);
} 
.footer__main-copyright{
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 20px 100px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
