#header {

}

.close {
    display: none;
}
.text__shadow {
    text-shadow: 4px 7px 6px black;
}
.box__shadow {
    box-shadow:4px 7px 6px black ;
}

.boder__radius {
    border-radius: 10px;
}
.header__alert{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header__alert__box {
    width: 500px;
    height: 300px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 2% 2%;
}

.header__alert__box__text__content {
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #FA9F1A;
    color: #fff;
    text-transform: uppercase;
    
}

.header__alert__box__text__content__icon-alert {
    display: initial;
}
.header__alert__box__maintext{
}

.header__alert__main__bth {
    
}

.header__alert__bth{
    display: block;
    border: none;
    cursor: pointer;
    background-color: #4DD6D6;
    padding: 12px;
    border-radius: 8px;
}

.header__alert__bth:hover{
    background-color: #94FA5A;
    transition: 1s;
}
.header__nav {
    background-color: #000;
    min-height: 46px;

}

.header__nav__navlist{

}

.header__nav__ul {
    display: flex;
    justify-content: space-evenly;
}

.header__nav__ul__icon {
}

.header__nav__ul li{
    width: 100%;
    text-align: center;
    display: block;
}

.header__nav__ul a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.header__nav__ul li:hover a{
    background-color: #ccc;
    text-shadow: 4px 6px 7px black;
    transform: scale(105%);
    transition: 1s;
    
}