.header{
    background-color: #fff;
    padding-bottom: 20px;
}
.header__nav{
    height: 100px;
    width: 1116px;
    margin-left: auto;
    margin-right: auto;
}
.header__nav-first{
    display: flex;
    justify-content: space-between;
    height: 34px;
    align-items: center;
    position: relative;
}

.header__nav-first::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 1px;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-text-color);
}

.nav-first__contact{
    display: flex;
    align-items: center;
}


.nav-first__number-phone{

}
.nav-first__gmail{

}



.nav-first__text-gmail{

}
.nav-first__social{

}


.nav-first__social-link{
    padding: 0 8px;
}

/* End nav-first */
.header__nav-second{
    padding: 32px 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-second .logo-link {
    font-size: 2rem;
    padding: 0 14px;
    position: relative;
    font-weight: bold;
    color: #000;
}

.header__nav-second .logo-link::before {
    content: "Le";
    position: absolute;
    top: 0;
    left: -6px;
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bold;
}

.nav-second__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 364px;
    height: 43px;
}
.nav-second__search{
    padding: 0 16px;
    border: 1px solid var(--main-text-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search--border {
    position: relative;
    padding-right: 10px;
}

.search--border::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
    height: 40px;
    width: 1px;
    background-color: var(--main-text-color);
}

.nav-second__search-input{
    border: none;
}

.nav-second__search input {
    height: 80%;
    outline: none;
    padding-left: 20px;
}
.nav-second__main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-second__main-link{
    padding: 0 16px;
    color: var(--main-text-color);
    font-weight: bold;
    transition: all ease 1s;
}

.nav-second__main-link:hover {
    color: var(--main-color);
}


.fas.fa-phone-alt{

}
.fas.fa-envelope{

}
.fab.fa-facebook{

}
.fab.fa-facebook-messenger{

}
.fab.fa-instagram{

}
.fab.fa-twitter{

}