.content__news-container{

}
.content__news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__news-heading{
    text-align: center;
}
.content__news-heading-main{
    color: var(--main-content-text-color);
}
.content__news-main{
    text-align: center;
}
.content__news-main-list{
    display: flex;
    justify-content: space-between;
}
.content__news-main-item{
    background-color: #fff;
    width: 350px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.342);
    border-radius: 8px;
    margin: 0 20px;
    min-height: 258px;
    padding: 4px 6px;
}
.news__main-item-bgr{
    
}
.new__main-item-img{
    width: 100%;
    border-radius: 8px;
}
.news__main-item-content{

}
.news__main-item-content-heading{
    font-size: 2.2rem;
    font-weight: 300;
    padding: 0 20px;
    color: var(--main-content-text-color);
}
.content__news-main-button{
    margin: 40px 0;
}