@media (max-width: 740px) {
    #header >#nav> li {
        display: block;
    }

    #header {
        overflow: hidden;
    }

    #navSearch .tinav-search{
        display: none;
    }

    #nav {
        display: block;
    }

    #nav>li:first-child{
        display: inline-block;
    }
    .mobile-search {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #content .content-text {
        width: 100%;
        padding: 0px 7px;
        left: auto;
        margin-left: auto;
    }

    #content .background-text{
        min-height: 1465px;
    }

    #content .img1, .img2, .img3 {
        float: none;
    }

    #slider {
        min-height: 300px;
    }

    #slider .text-content {
        left: auto;
        margin-left:auto;
    }

    .character {
        min-height: 2500px;
    }

    .character .img-char {
        left: auto;
        margin-left: auto;
    }
    .character .img-char .marco, .star, .monster{
        margin: 19px 5px;
        float: none;
    }

    .character .img-char .info {
        display: contents;
        text-align: center;
    }

    .character .img-char img {
        width: 100%;
}

#header .subnav {
    position: unset;
    width: unset;
    background-color: #000;
}

#header .subnav a {
    color: #fff;
}