#slider{
   
    background-image: url(../img/slider/slider3.JPG);
    background-position-y: o;
    background-size: cover;
    background-position: center;
    animation: sliderZoomInZoomOut 600s infinite;
}


.slider__main{
position: relative;
display: flex;
min-height: 300px;


    
}

.slider__main__text-content {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    bottom: 50px;
    letter-spacing: 0.5mm;
    color: #fff;
}

.slider__main__text-heading {
    text-transform: uppercase;
    
}

.slider__main__img-content__img {
    
    
}

.slider__main__img-content__img img{
    width:100%;
    height: auto;
}