#content .img .imagebox1{
    background-color: red;
}

#content .img .imagebox2{
    background-color: yellow;
}

#content .img .imagebox3{
    background-color: blue;
}

#content .img .imagebox1, .imagebox2, .imagebox3{
    width: 200px;
    height: 200px;
    display: inline-block;
}

#content .img {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 350px;
}